# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables & secrets
.env
.env.*
*.key
*.pem
*.local.json

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
*.log
*.bak

# Temporary / Local packages & live dumps
pgvector_pg17.zip
pgvector_extracted/
live_snapshots/
